<div class="hider" *ngIf="isLoading"></div>
<div class="popup_box" *ngIf="isLoading">
    <img src="../../assets/images/ajax-loader.gif" alt="">
    <span class="message">Please wait while we are loading.</span>
</div>
<div class="alert alert-danger" *ngIf="isError">Service Error Occured. Please try again..</div>
<h1>Search User..</h1>
<div class="row">
<form [formGroup]="searchForm" (ngSubmit)="searchUser()">
    <div class="col-md-6">
        <select class="form-control" #selectedUser (change)="resetError()">
            <option value="1">
                User ID
            </option>
            <option value="2">
                User Name
            </option>
        </select>
    </div>
    <div class="col-md-4">
            <input class="form-control" id="name" type="text" formControlName="searchValue"
            [class.error]="!searchForm.controls.searchValue.valid"
            [(ngModel)]="searchValue"
            >
            <div class="errorClass" *ngIf="!searchForm.controls.searchValue.valid">
                Search criteria is required.
            </div>
    </div>
    <div class="col-md-2">
            <button class="btn btn-primary">Search</button>
    </div>
</form>
</div>
<p>
</p>
<div class="user-details" *ngIf="userDetails.length > 0">
    <table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit Details</th>
        <th>Delete User</th>
        <th>Edit Leave</th>
    </tr>
    <tr *ngFor="let user of userDetails">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a [routerLink]="['../create', user.id]"><i class="glyphicon glyphicon-pencil"></i></a></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
        <td><a [routerLink]="['../leave', user.id]"><i class="glyphicon glyphicon-edit"></i></a></td>
    </tr>
</table>
<pagination [items]="userDetails" [resultsCount]="resultCount" [currentPage]="currentPage" (page-changed)="onPageChanged($event)"></pagination>
</div>