
110
77% must be present
90 days (60 + 30)
casual 30
annual 60

id 
name 
address 
remarks
Casual availed?
From 
To
Annual leave remaining


Date picker:
http://www.primefaces.org/primeng/#/calendar
https://www.npmjs.com/package/ng2-datepicker
https://nkalinov.github.io/ng2-datetime/
http://www.angulartypescript.com/angular-2-datepicker/


Pending work:

---Loading icon
---Service error handling
---Date picker
---Pagination