<div class="hider" *ngIf="isLoading"></div>
<div class="popup_box" *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<h1>Leave Details</h1>
{{ temp }}
<div *ngIf="leaveCategory == 'E'">No active vacations to edit</div>

<form class="form-horizontal" [formGroup]="leaveForm">
    <div class="form-group">
      <label class="col-lg-2 control-label">User ID</label>
      <div class="col-lg-10">
        <span class="col-lg-2 control-label control-span">{{ leaveDetails.userID }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">User Name</label>
      <div class="col-lg-10">
        <span class="col-lg-2 control-label control-span">{{ leaveDetails.userName }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Leave Category</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="leaveCategory" id="optionsRadios1" value="C" 
            formControlName="leaveCategory" [(ngModel)]="leaveDetails.leaveCategory"
            (click)="setToDate()"
            >
            Casual Leave
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="leaveCategory" id="optionsRadios2" value="A"
            formControlName="leaveCategory"
            [(ngModel)]="leaveDetails.leaveCategory"
            >
            Annual Leave ({{ leaveDetails.annualLeaveRemaining }} days left)
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="fromDate" class="col-lg-2 control-label">From</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="fromDate" placeholder="MM/DD/YYYY" maxlength="10"
        formControlName="fromDate" [(ngModel)]="leaveDetails.fromDate" (change)="onFromChange()"
        >
        <div *ngIf="leaveForm.controls.fromDate.touched && leaveForm.controls.fromDate.errors" class="errorClass">
          <div *ngIf="leaveForm.controls.fromDate.errors.required">From Date is required</div>
          <div *ngIf="leaveForm.controls.fromDate.errors.invalidDate">From Date is invalid</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="toDate" class="col-lg-2 control-label">To</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="toDate" placeholder="MM/DD/YYYY" maxlength="10" 
        formControlName="toDate" [(ngModel)]="leaveDetails.toDate"
        [disabled] = "leaveDetails.leaveCategory == 'C'"
        >
        <div *ngIf="leaveForm.controls.toDate.errors" class="errorClass">
          <div *ngIf="leaveForm.controls.toDate.touched && leaveForm.controls.toDate.errors.required">To Date is required</div>
          <div *ngIf="leaveForm.controls.toDate.errors.invalidDate">To Date is invalid</div>
          <div *ngIf="leaveForm.controls.toDate.errors.insuffecientDays">Insuffecient days left</div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Remarks</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea">{{ leaveDetails.remarks }}</textarea>
        <span class="help-block">Please enter remarks regarding leave approval..</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-primary" disabled>Cancel</button>
        <button class="btn btn-primary" [disabled]="isNewLeave" (click)="addnewLeave()">Add new vacation</button>
        <button type="submit" class="btn btn-primary" 
        [disabled]="!leaveForm.valid" (click)="onSubmit()">Submit</button>
      </div>
    </div>
</form>