<h1>Leave Details</h1>

<form class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-2 control-label">User ID</label>
      <div class="col-lg-10">
        <span class="col-lg-2 control-label control-span">{{ leaveDetails.userID }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">User Name</label>
      <div class="col-lg-10">
        <span class="col-lg-2 control-label control-span">{{ leaveDetails.userName }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Leave Category</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="C" [(ngModel)]="leaveDetails.leaveCategory">
            Casual Leave
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="A" [(ngModel)]="leaveDetails.leaveCategory">
            Annual Leave
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="fromDate" class="col-lg-2 control-label">From</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="fromDate" placeholder="MM/DD/YYYY" maxlength="10">
      </div>
    </div>

    <div class="form-group">
      <label for="toDate" class="col-lg-2 control-label">To</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="toDate" placeholder="MM/DD/YYYY" maxlength="10">
      </div>
    </div>


    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Remarks</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea">{{ leaveDetails.remarks }}</textarea>
        <span class="help-block">Please enter remarks regarding leave approval..</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>